In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# import the API key
from config import gkey

In [2]:
# store the csv you saved created in part one into the DataFramed
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-11-10 18:43:13,-23.1203,-134.9692,72.25,88,97,12.39
1,1,Tskaltubo,GE,2022-11-10 18:43:14,42.3254,42.5979,50.94,87,40,4.61
2,2,Ponta Do Sol,PT,2022-11-10 18:43:14,32.6667,-17.1000,70.72,84,78,3.91
3,3,Port Alfred,ZA,2022-11-10 18:43:15,-33.5906,26.8910,62.19,82,100,8.01
4,4,Faanui,PF,2022-11-10 18:43:16,-16.4833,-151.7500,78.85,79,26,10.27

In [3]:
#check the data types
## data used for mapping must be integer or floating-point decimal

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=gkey)

In [5]:
# fix the negative number errors were getting in next cell
# Google Heatmaps do not plot negative numbers!!! 
# Remove negative numbers with a for loop iterate through the max_temps
#Get the max temps
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    # If the temp is less than 0 then 0 will replace it

In [6]:
# 1. Assign the locations to an array of lat and long pairs
#locations= [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()

# add center geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E)
# add zoom level (may need to adjust)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# change above (commented out code) to reflect cell above dealing with negative temps
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Use comprehension list instead of above for loop
# Modify dissipation to True, better gradient with Max_intensity, add point_radius for larger radius
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)


# 5. Add the heatmap layer
#fig.add_layer(heatmap_layer)
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
#fig
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
max_wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the nminimum temperature you would like for your trip? "))
max_temp = float(input("What iss the maximum temperature you would like for your trip? "))

What is the nminimum temperature you would like for your trip? 70
What iss the maximum temperature you would like for your trip? 80

In [11]:
# Filter the dataset creating a new DF to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] >= min_temp)]
                                                     
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-11-10 18:43:13,-23.1203,-134.9692,72.25,88,97,12.39
2,2,Ponta Do Sol,PT,2022-11-10 18:43:14,32.6667,-17.1000,70.72,84,78,3.91
4,4,Faanui,PF,2022-11-10 18:43:16,-16.4833,-151.7500,78.85,79,26,10.27
7,7,Atuona,PF,2022-11-10 18:43:17,-9.8000,-139.0333,77.61,80,11,12.73
9,9,Kapaa,US,2022-11-10 18:43:18,22.0752,-159.3190,78.10,80,40,8.05
11,11,Tombouctou,ML,2022-11-10 18:43:19,20.0000,-3.0000,78.24,9,0,6.78
18,18,Mayo,US,2022-11-10 18:43:23,38.8876,-76.5119,73.15,70,96,3.00
20,20,Hilo,US,2022-11-10 18:43:24,19.7297,-155.0900,79.61,72,0,4.61
31,31,Cape Town,ZA,2022-11-10 18:41:53,-33.9258,18.4232,70.21,56,0,9.22
32,32,Avarua,CK,2022-11-10 18:43:30,-21.2078,-159.7750,75.25,73,75,12.66

In [12]:
len(preferred_cities_df)

142

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       142
City          142
Country       140
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [15]:
preferred_cities_df.notnull().sum()

City_ID       142
City          142
Country       140
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [16]:
preferred_cities_df = preferred_cities_df.dropna()

In [17]:
preferred_cities_df.count()

City_ID       140
City          140
Country       140
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [18]:
# create a DF to store hotel names along with city, country, max temp and coordinates
# copy the preferred citites Df with slected columns
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# add a new column and name it "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Rikitea      PF     72.25 -23.1203 -134.9692
2   Ponta Do Sol      PT     70.72  32.6667  -17.1000
4         Faanui      PF     78.85 -16.4833 -151.7500
7         Atuona      PF     77.61  -9.8000 -139.0333
9          Kapaa      US     78.10  22.0752 -159.3190
11    Tombouctou      ML     78.24  20.0000   -3.0000
18          Mayo      US     73.15  38.8876  -76.5119
20          Hilo      US     79.61  19.7297 -155.0900
31     Cape Town      ZA     70.21 -33.9258   18.4232
32        Avarua      CK     75.25 -21.2078 -159.7750

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,72.25,-23.1203,-134.9692,People ThankYou
2,Ponta Do Sol,PT,70.72,32.6667,-17.1000,Hotel do Campo
4,Faanui,PF,78.85,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Atuona,PF,77.61,-9.8000,-139.0333,Villa Enata
9,Kapaa,US,78.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
548,Lhokseumawe,ID,75.72,5.1801,97.1507,OYO 3278 Penginapan Alfajri
555,Betare Oya,CM,74.35,5.6000,14.0833,Auberge Tembina Betaré Oya
561,Buala,SB,78.80,-8.1450,159.5921,Maringe Lagoon Lodge
562,Toamasina,MG,71.60,-18.1667,49.3833,Hotel H1
568,Lebanon,US,77.16,36.2081,-86.2911,Hampton Inn & Suites Lebanon

In [29]:
### Create a Max Temp heatmap from Hotel DF
# Add a heatmap of temp for vacation spots
# AND pop-up markers for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
             max_intensity=300, point_radius=4)

# add marker layer
# WITH info box pop_up
info_box_content = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Use iterrows() 
# Store the DF Row
hotel_info = [info_box_content.format(**row) for index, row in hotel_df.iterrows()]

# add info_box_content!!
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add the layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the fiture to plot the data
fig

Figure(layout=FigureLayout(height='420px'))